.header {
    display: grid;
    grid-auto-flow: column;
    grid-template: auto / 2fr 20fr 1fr;
    column-gap: 1rem;

    &__logo {
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $text-color;
        font-weight: 300;
    }

    &__search {
        position: relative;
        padding: 0.5rem 1rem;
        width: 100%;
        border-radius: 1rem;
        background-color: $light-gray-color;
        border: none;
    }

    &__logOut {
        padding: 0;
        margin: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
