.header {
    height: 2.125rem;
    display: grid;
    grid-auto-flow: column;
    grid-template: auto / auto 40fr 1fr 1fr;
    column-gap: 2rem;

    @include media('<=550px') {
        column-gap: 1rem;
    }

    &__logo {
        display: grid;
        grid-auto-flow: column;
        column-gap: 0.5rem;
        align-items: center;

        & > div {
            min-width: 37px !important;
            max-width: 37px !important;
        }
    }

    &__title {
        margin: 0;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $text-color;
        font-weight: 300;

        @include media('<=550px') {
            display: none;
        }
    }

    &__search {
        position: relative;
        padding: 0.5rem 1rem;
        width: 100%;
        color: $text-color;
        font-size: 0.9rem;
        text-transform: uppercase;
        border-radius: 1rem;
        background-color: $light-gray-color;
        border: none;
    }

    &__theme,
    &__plus,
    &__logOut {
        padding: 0;
        margin: 0;
        min-width: 35px;
        display: grid;
        place-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
