.fourOhFour {
    min-height: calc(100vh - 2.1875rem - 4rem);
    display: grid;
    align-content: center;
    justify-items: center;
    row-gap: 1rem;

    &__404 {
        position: relative;
        margin: 0;
        font-size: calc(20vh + 3rem);
        color: $accent-color;

        &::before,
        &::after {
            content: '404';
            position: absolute;
            color: transparent;
            text-shadow: 0 0 1px $text-color;
        }

        &::before {
            top: -0.2rem;
            left: -0.2rem;
            z-index: -1;
        }

        &::after {
            bottom: -0.3rem;
            right: -0.3rem;
        }
    }

    &__description {
        text-align: center;
    }

    &__btn {
        padding: 0;
        background-color: $dark-gray-color;
        border: 1px solid $accent-color;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $background-color;
            background-color: $accent-color;
        }
    }

    &__link {
        display: inline-block;
        padding: 1rem 1.5rem;
        color: $text-color;
    }
}
