.home {
    display: grid;
    grid-template: auto / 2fr 1fr;
    gap: 1rem;

    &__item {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        gap: 1.5rem;

        .item {
            margin: 2rem 0 1.5rem;
        }
    }

    &__products {
        margin: 0;
        grid-column: 1 / -1;
        font-weight: 400;
        font-size: 1rem;
    }

    &__items {
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        gap: 1.25rem;
    }
}
