.login {
    min-height: calc(100vh - 4rem);
    display: grid;
    place-items: center;

    &__title {
        font-weight: 400;
        margin-top: 0;
    }

    &__form {
        width: 100%;
        max-width: 500px;
        display: grid;
    }

    &__label {
        margin: 0 0.5rem 0.5rem;
    }

    input,
    &__btn {
        padding: 1rem 1.5rem;
        margin-bottom: 1rem;
        border-radius: 1.5rem;
    }

    input {
        background-color: $light-gray-color;
        border: none;
    }

    &__btn {
        background-color: $dark-gray-color;
        border: 2px solid $accent-color;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $background-color;
            background-color: $accent-color;
        }
    }
}
