.new {
    min-height: calc(100vh - 2.125rem - 4rem);
    display: grid;
    place-items: center;
    font-size: 0.9rem;

    &__form {
        width: 100%;
        max-width: 600px;
        display: grid;
        grid-template: auto / 2fr 1fr;
        gap: 1rem;

        @include media('<=590px') {
            margin-top: 1rem;
            grid-template-columns: 1fr;
        }
    }

    &__product {
        margin: 0;
        grid-column: 1 / -1;
        font-size: 1rem;
        font-weight: 400;
    }

    &__last {
        display: flex;

        &Title {
            margin: 0 1rem 0 0;
        }

        &Code {
            text-transform: uppercase;
        }
    }

    &__titles {
        grid-column: 1 / -1;
        padding: 1rem 1.5rem;
        background-color: $light-gray-color;
        border-radius: 1.5rem;
        display: grid;
        grid-template: auto / 2fr 1.1fr;

        &:not(:nth-child(2)) {
            margin-top: 1rem;
        }
    }

    &__code,
    &__qty {
        padding: 1rem 1.5rem;
    }

    &__code {
        text-transform: uppercase;
    }

    &__qtySection {
        display: grid;
        grid-template: auto / 1fr 1fr 1fr;
    }

    &__qtyPlus,
    &__qtyMinus {
        padding: 1rem;
        margin: 0;
        width: 100%;
        color: $text-color;
        background-color: $light-gray-color;
        border: 2px solid $light-gray-color;
        cursor: pointer;
    }

    &__qty {
        max-width: 80px;
        background-color: $background-color;
        border: 2px solid $light-gray-color;
        border-radius: 0;

        @include media('<=590px') {
            max-width: 100%;
        }
    }

    &__qtyPlus {
        border-top-left-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
    }

    &__qtyMinus {
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

    &__sizes {
        grid-column: 1 / -1;
    }

    &__button {
        grid-column: 1 / -1;
        padding: 1rem 1.5rem;
        margin-top: 1rem;
        border-radius: 1.5rem;
        color: $text-color;
        background-color: $dark-gray-color;
        border: 2px solid $accent-color;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $background-color;
            background-color: $accent-color;
        }
    }
}
