.signIn {
    min-height: calc(100vh - 2.1875rem - 4rem);
    display: grid;
    place-items: center;
    align-content: center;
    row-gap: 1.25rem;

    &__form,
    &__google {
        width: 100%;
        max-width: 400px;
    }

    &__form {
        display: grid;
        grid-template: auto / 1fr;
    }

    &__label {
        margin-left: 0.625rem;
        margin-bottom: 0.5rem;
    }

    &__email,
    &__password {
        margin-bottom: 1rem;
    }

    &__button {
        padding: $padding;
        margin-top: 1rem;
        border-radius: $border-radius;
        color: $text-color;
        background-color: $dark-gray-color;
        border: 2px solid $accent-color;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: $background-color;
            background-color: $accent-color;
        }
    }

    &__google {
        padding: $padding;
        color: $text-color;
        background-color: $dark-gray-color;
        border: 2px solid $text-color;
        border-radius: $border-radius;
        cursor: pointer;
        transition: 0.3s;
    }
}
