:root {
    --text-color: #161616;
    --light-gray-color: #f1f1f1;
    --dark-gray-color: #e5e5e5;
    --background-color: #fff;
}

.dark-mode {
    --text-color: #fff;
    --light-gray-color: #212121;
    --dark-gray-color: #2b2b2b;
    --background-color: #161616;
}

$accent-color: #1a8ccb;
$text-color: var(--text-color);
$light-gray-color: var(--light-gray-color);
$dark-gray-color: var(--dark-gray-color);
$background-color: var(--background-color);

$border-radius: 10px;
$padding: 0.625rem 1rem;
