input {
    padding: $padding;
    color: $text-color;
    border-radius: $border-radius;
    background-color: $light-gray-color;
    border: none;
    appearance: textfield;
    font-weight: inherit;
}
