* {
    box-sizing: border-box;
}

body {
    font-weight: 300;
    background-color: $background-color;
}

#__next {
    padding: 2rem 3rem;
    margin: 0 auto;
    max-width: 1800px;
}

a {
    text-decoration: none;
}
