* {
    box-sizing: border-box;
}

body {
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
}

#__next {
    padding: 2rem 3rem;
    margin: 0 auto;
    max-width: 1800px;

    @include media('<=550px') {
        padding: 1rem 1.5rem;
    }
}

a {
    text-decoration: none;
}
