@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

body {
    font-family: 'Montserrat', Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a {
    font-family: inherit;
}
